<!doctype html>
<html>
  <head>
    <title><%= shopName %> - About</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>About <%= shopName %></h1>
    <p>Welcome to <%= shopName %> We sell all the drinks</p>

    <h2>Our Branches</h2>
    <ul>
      <% for (let i = 0; i < shops.length; i++) { %>
        <li>
          <strong><%= shops[i].location %></strong><br>
          Manager: <%= shops[i].manager %><br>
          Address: <%= shops[i].address %>
        </li>
      <% } %>
    </ul>
  </body>
</html>